*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Montserrat',sans-serif;
    height:100vh;

    background: linear-gradient(135deg, #c40c0c, #111827, #ffffff);
    background-size: 600% 600%;
    animation: gradientAnimation 18s ease infinite;

    display:flex;
    justify-content:center;
    align-items:center;
}

@keyframes gradientAnimation{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

h2{
    font-size:24px;
    margin-bottom:10px;
    align-items: center;
    text-align: center;
}

.logo{
    border-radius: 15px;
}

/* CONTENEDOR */
.container{
    width:900px;
    height:520px;
    display:flex;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.6);
}

/* LEFT */
.left{
    width:40%;
    background:rgba(0,0,0,0.65);
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

.logo{
    width:65%;
    margin-bottom:20px;
    animation:float 2s infinite ease-in-out;
}

@keyframes float{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
}

/* RIGHT */
.right{
    width:60%;
    background:rgba(255,255,255,0.9);
    padding:30px;
    position:relative;
}

/* FORM */
.form{
    position:absolute;
    width:80%;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
    visibility:hidden;
    transition:.4s;
}

.form.active{
    opacity:1;
    visibility:visible;
}

/* INPUT */
.input{
    display:flex;
    align-items:center;
    margin-bottom:15px;
    padding:10px;
    border-radius:20px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.input i{
    margin-right:10px;

}

.input input,.input select{
    border:none;
    outline:none;
    width:100%;
}

/* BOTON */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:20px;
    background:#c40c0c;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#991b1b;
}

/* SWITCH */
.switch{
    margin-top:10px;
    text-align:center;
    cursor:pointer;
    color:#2563eb;
}